@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.top {
    font-family: 'Handlee', cursive;
    font-size: x-large;
    color: white;
}
.title-bg {
    background: url('../images/vines2.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    color: white;
    text-align: center;
    padding: 4em; /** note: top right bottom left */
}
.mission {
    background: url('../images/wall.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    color: darkgreen;
    text-align: center;
    padding: 4em;
}

/* sign up button */
input[type=button]{
    background-color: darkgreen;
    border: none;
    width: 25%;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: .5em 0;
    border-radius: .5em;
    font-size: 1.3em;
    cursor: pointer;
}
/* button */

/** DROP DOWN NAV BAR */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
  padding-right: 2.5em;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover, .dropdown:hover .dropbtn {
    background-color: darkgreen;
}
  
li.dropdown {
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(2, 66, 2);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
      background-color: #f1f1f1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
/** DROP DOWN NAV BAR */